/**
 * see the config format description at:
 * https://github.com/maizy/zaglushka/blob/master/examples/example.json
 * */
{
    "urls": [
        {
            "path": "/json/simple",
            "response": {
              "status": "ok",
              "some_key": "..",
              "pi": [3, 3.1416, "3.14159265359"]
            },
            "headers": {"Content-Type": "application/json"}
        },

        {
            "path": "/json/wrong_format",
            "response": "{\"status\" => \"oll wrang\"}",
            "headers": {"Content-Type": "application/json"}
        },

        {
            "path": "/text/simple",
            "response": ":)",
            "headers": {"Content-Type": "text/plain"}
        },

        {
            "path": "/text/formatted",
            "response": "\nversion: 7.7.7\ncurrent status: doing some work\nyear: 2016\n",
            "headers": {"Content-Type": "text/plain"}
        },

        {
            "path": "/xml",
            "response": "<?xml version='1.0' encoding='utf-8'?>\n<versions><mylib type=\"production\">2.25.18</mylib><tornado>3.2.2</tornado><python>2.7.3</python></versions>",
            "headers": {"Content-Type": "application/xml"}
        }

    ]
}
